arcaflow-plugin-sdk==0.10.1 ; python_version >= "3.9" and python_version < "4.0"
cbor2==5.4.6 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==5.4.1 ; python_version >= "3.9" and python_version < "4.0"
